<div class="container-fluid">
  <%= simple_form_for(@post, remote: true, html: { class: 'form-horizontal' }) do |f| %>
    <p>
      <%= f.input :place %>
    </p>
    <p>
      <%= f.input :neighborhood %>
    </p>
     <p>
      <%= f.input :time, :as => :time_picker %>
    </p>
     <p>
      <%= f.input :body %>
    </p>
    <p>
      <%= f.button 'submit' %>
    </p>
  <% end %>
</div>

