<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<%= simple_form_for(@post, html: { class: 'form-horizontal' }) do |f| %>
				  <%= f.input  :place %>
				  <%= f.input  :neighborhood %>
				  <%= f.input  :time, :as => :datetime_picker %>
				  <%= f.input  :body %>
				  <%= f.submit 'Save' %>
				<% end %>
			</div>
	</div>
</div>