<div class="panel panel-default">
  <div class="panel-body">
		<p>Join <strong><%= post.user.name %></strong> @ <strong><%= post.place %></strong> for grub around <strong><%= post.time %></strong> in <strong><%= post.neighborhood %></strong></p>
		<strong><%= post.user.name %>:</strong> <%= post.body %>
		<p><%= link_to 'Edit', '#' %></p>


		<h4>Comments</h4>
		<div id="comments">
			<% post.comments.each do |comment| %>
			  <p>
			    <strong>User:</strong>
			    <%= comment.user.name %>
			  </p>
			 
			  <p>
			    <strong>Comment:</strong>
			    <%= comment.body %>
			  </p>

			  <hr>

			<% end %>
		</div>

		<div class="container-fluid">
		  <div class="row">
		    <div class="col-md-4">  
		      <%= simple_form_for([post, post.comments.build], html: { class: 'form-horizontal' }) do |f| %>
		        <p>
		          <%= f.input :body %>
		        </p>
		        <p>
		          <%= f.button 'submit' %>
		        </p>
		      <% end %>
		    </div>
		  </div>
		</div>
  </div>
</div>
