<!DOCTYPE html>
<html>
<head>
  <title>GitGrub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<% if current_page?(root_path) %>welcome-bg<% else %>grey-bg<% end %>">

<%= render 'layouts/navbar' %>
<%= yield %>

</body>
</html>
